
<div class="preloader" id="loading">
  <div class="preloader-body">
    <div id="loading-center-object">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
<div class="page">
  <header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="index.html"><img src="../images/logo.png" alt="" width="148" height="31"/></a>
            </div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item active"><a class="rd-nav-link" href="" ng-click="goToSection('section1')">Home</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="" ng-click="goToSection('section2')">Service</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="" ng-click="goToSection('section3')">About</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="" ng-click="goToSection('section4')">Why Us</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="" ng-click="goToSection('section5')">Background</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="" ng-click="goToSection('section6')">Gallery</a>
              </li>
            </ul>
          </div>
          <!-- <div class="rd-navbar-element"><a class="button button-sm button-header button-winona" href="#">Sign In</a>
          </div> -->
          <div class="rd-navbar-dummy"></div>
        </div>
      </nav>
    </div>
  </header>
  <section id="section1" class="section parallax-container context-dark" data-parallax-img="../images/bg-login/header2.png">
    <div class="parallax-content">
      <!-- FScreen-->
      <div class="page-header-2-inner">
        <div class="container">
          <div class="block-custom">
            <h2 class="font-weight-extra-black wow clipInLeft" data-wow-delay=".1s" style="text-shadow: 1px 1px 2px rgb(85, 85, 85);">Solution For Express's Bussiness</h2>
            <h4 class="text-default wow clipInLeft" data-wow-delay=".1s" style="color: indigo;">A Super secured express solution that you can trust.<br>No one can snatch it but you!.</h4>
            <div class="group-xl group-middle">
              <!-- <div><a class="button button-lg button-white button-shadow button-winona wow clipInLeft" href="images/Adaptric-Brochure_v1.1.3.pdf" data-wow-delay=".2s" download="Adaptric-Brochure">Read more</a></div> -->
              <div><a class="button button-lg button-white button-shadow button-winona wow clipInLeft" ui-sref="main.readmore" data-wow-delay=".2s" download="Adaptric-Brochure">Read more</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Meet Alice-->
  <section id="section2" class="section section-md bg-gray-100 text-center">
    <div class="container">
      <div class="badge wow fadeIn">Our Services</div>
      <h3 class="wow fadeIn">What We Do</h3>
      <div class="row row-30 row-xl-60">
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div><img src="../images/nfc-solution@3x.png"></div>
              <!-- <div class="box-modern-icon mdi mdi-television-guide"></div>
              <div class="box-modern-circle box-modern-circle-1"></div> -->
            </div>
            <p class="box-modern-title">NFC Solution</p>
            <div class="box-modern-text">
              <p>We support your express's business with NFC technology</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div><img src="../images/nfc-tag@3x.png"></div>
              <!-- <div class="box-modern-icon mdi mdi-elevation-rise"></div>
              <div class="box-modern-circle box-modern-circle-1"></div> -->
            </div>
            <p class="box-modern-title">NFC Tag</p>
            <div class="box-modern-text">
              <p>Supply and distribution NFC Tag</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div><img src="../images/nfc-reader@3x.png"></div>
              <!-- <div class="box-modern-icon mdi mdi-presentation"></div>
              <div class="box-modern-circle box-modern-circle-1"></div> -->
            </div>
            <p class="box-modern-title">Custom Reader NFC</p>
            <div class="box-modern-text">
              <p>Custom reader NFC follow requirement customer</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- About App-->
  <section  id="section3" class="section section-xl bg-accent" style="background-color: #db9fff;">
    <div class="container">
      <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
          <div class="badge">About Business</div>
          <h3>A Few Words About Us</h3>
          <h4>"Thailand NFC Solution Provider"</h4>
          <p class="big inset-2">We are developed a world wild the Near Field Communication (NFC) solution from Thai's NFC chip, Our product aim to use for protect parcels, A goods securely data and mobile phone friendly:</p>
          <ul class="list-marked">
            <li>Business express high solution</li>
            <li>Quality research & analysis</li>
            <li>Reliable company management</li>
          </ul>
          <!-- <a class="button button-primary button-shadow button-winona font-weight-sbold" href="about-us.html">Read more</a> -->
        </div>
        <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
          <div class="thumbnail-classy">
            <div class="thumbnail-classy-image bg-image" style="background-image: url(images/Screenshot.png);"></div>
            <div class="thumbnail-classy-caption"><a class="thumbnail-classy-button mdi mdi-play" href="https://youtu.be/fzSNWmVvBVk" data-lightgallery="item">
                <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                  <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features-->
  <section  id="section4" class="section section-lg">
    <div class="container">
      <div class="row row-50">
        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
          <div class="badge">why us</div>
          <h3>Reasons People<br>Choose Adaptric</h3>
          <p class="big inset-3" style="letter-spacing: .025em">We believe there are many good reasons for you to want to choose us for your express's business solution purposes. Here are some of them:</p>
          <ul class="list-marked">
            <li>Parcel protected status</li>
            <li>Competitiveness</li>
            <li>Risk management</li>
            <li>Brand Loyalty</li>
          </ul>
        </div>
        <div class="col-sm-10 col-lg-7 wow fadeInLeftSmall text-center"><img class="img-custom" src="../images/choose2.png" alt="" width="610" height="432"/>
        </div>
      </div>
    </div>
  </section>
  <!-- Background-->
  <section  id="section5" class="section section-lg border-top">
    <div class="container">
      <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
          <div class="badge">Background</div>
          <h3>Problems</h3>
          <p class="big inset-2">High-value parcel delivery problems:</p>
          <ul class="list-marked">
            <li>Sender and Receiver There is highly concern for the security of parcel.</li>
            <li>Smuggle open or change parcels on the way. Affecting the reliability of the shipping company.</li>
            <li>There is no status of the parcel to the sender and recipient on Real-time format</li>
          </ul>
          <!-- <a class="button button-primary button-shadow button-winona font-weight-sbold" href="about-us.html">Read more</a> -->
        </div>
        <div class="col-sm-10 col-lg-7 wow fadeInLeftSmall text-center"><img class="img-custom" src="../images/problems.png" alt="" width="610" height="432"/>
      </div>
    </div>
  </section>
  <!-- About our messenger-->
  <section class="section parallax-container section-md bg-accent border-bottom" data-parallax-img="../images/gallery.png" id="section6">
    <div class="parallax-content">
      <div class="container">
        <div class="row row-50 justify-content-end">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="block-5 wow clipInLeft">
              <div class="badge wow clipInLeft">What We Work On</div>
              <h3 class="wow clipInLeft" data-wow-delay=".1s"><span>Browse Our</span><br><span class="text-accent">Express's Business Projects</span></h3>
              <p class="big wow clipInLeft inset-3" data-wow-delay=".2s" style="text-shadow: 1px 1px 2px rgb(85, 85, 85);">Take a look at some of them in our project gallery.</p><a class="button button-default button-winona wow clipInLeft font-weight-sbold" href="#" data-wow-delay=".3s">View Gallery</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- People Ready to Change the World-->
  <!-- <section class="section section-md text-center bg-white">
    <div class="container">
      <div class="badge">Meet our team</div>
      <h3>Our Professional Team</h3>
      <div class="owl-carousel owl-carousel_profile-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="plugins/theme/images/team-1-369x315.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Chayanan Kuruwasri</h4>
              <p class="profile-modern-position">Project Development Manager</p>
            </div>
          </div>
        </article>
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="plugins/theme/images/team-2-369x315.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Sommart Lermthong</h4>
              <p class="profile-modern-position">Business Development Manager</p>
            </div>
          </div>
        </article>
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="plugins/theme/images/team-3-369x315.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Apirak Ratsameesawang</h4>
              <p class="profile-modern-position">Innovation Project Manager</p>
            </div>
          </div>
        </article>
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="plugins/theme/images/team-4-369x315.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Jirapong Mancharoen</h4>
              <p class="profile-modern-position">Project Solution Development Manager</p>
            </div>
          </div>
        </article>
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="plugins/theme/images/team-6-369x315.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Peerawat Pipattanakulchai</h4>
              <p class="profile-modern-position">Designer Manager</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section> -->
  <footer class="section footer-classic">
    <div class="footer-classic-main">
      <div class="container">
        <div class="row row-50 justify-content-lg-between">
          <div class="col-sm-7 col-lg-3 col-xl-6"><a class="brand" href="index.html"><img src="../images/logo.png" alt="" width="148" height="31"/></a>
            <p><span style="max-width: 250px;">3rd FL., La Unique Plaza, 
              No.40 Thetsabanrangsannua Rd., Ladyao, Chatuchak,
              Bangkok 10900 Thailand</span></p>
          </div>
          <!-- <div class="col-sm-5 col-lg-9 col-xl-6"></div> -->
          <div class="col-sm-5 col-lg-9 col-xl-2">
            <h4 class="footer-classic-title">Get in Touch</h4>
            <div class="row row-20 row-sm-35">
              <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                <div class="row row-10 text-default">
                  <div class="col-lg-6 col-xl-12"><a href="mailto:info@adaptric.co">info@adaptric.co</a></div>
                  <div class="col-lg-6 col-xl-12"><a class="big" href="tel:#">02 589 9991</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-classic-aside">
      <div class="container">
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Copyrights</span>. All Rights Reserved. Design by <a href="https://www.adaptric.co">Adaptric</a></p>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>

<script src="plugins/theme/js/script.js"></script>
