
<div class="preloader" id="loading">
  <div class="preloader-body">
    <div id="loading-center-object">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
<div class="page">
  <header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand" href="index.html"><img src="../images/logo.png" alt="" width="148" height="31"/></a>
            </div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About Us</a>
              </li>
              <li class="rd-nav-item active"><a class="rd-nav-link" href="typography.html">Typography</a>
              </li>
              <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact Us</a>
              </li> -->
            </ul>
          </div>
          <div class="rd-navbar-element"><a class="button button-sm button-header button-winona" ui-sref="main.index">Home</a>
          </div>
          <div class="rd-navbar-dummy"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark section parallax-container context-dark" style="background: 0%;" data-parallax-img="../images/bg-login/header4.png">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <h2 class="breadcrumbs-custom-title">WHAT WE PROVIDE</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="breadcrumbs-custom-aside">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="images/Adaptric-Brochure_v1.1.3.pdf">Download Brochure</a></li>
        </ul>
      </div>
    </div> -->
  </section>
  
  <!-- Features-->
  <section  id="section4" class="section">
    <div class="container">
      <div class="row align-items-end justify-content-center">
        <div class="col-md-10 col-lg-7">
          <div class="section-md">
            <h3>We're  a Passionate Team of Business NFC Solution Provide</h3>
            <p class="text-gray-900">Adaptric formed by Thai engineer team. We’re starting up from the
              intrapreneurship program which invested by Silicon Craft Technology Public
              Company Limited <a href="http://www.sic.co.th/">(http://www.sic.co.th/).</a> <br>We provide the optimal securedNFC-system for our customers</p>
            <!-- Quote Light-->
            <blockquote class="quote-light quote-light_1">
              <div class="quote-light-mark linearicons-quote-open"></div>
              <div class="quote-light-text">
                <p>Our system can track an object by secured-NFC Tag in many form-factor types and read/write an information via mobile phone (iOS, Android). This system will make your business even more efficient and productive.</p>
              </div>
            </blockquote>
          </div>
        </div>
        <div class="col-md-10 col-lg-5 text-center" style="margin-bottom: 5rem;"><img src="../images/1493.jpg" alt="" width="379" height="570"/>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section text-center">
    <div class="container">
      <div class="list-blocks-outer">
        <div class="list-blocks">
          <div class="list-blocks-item">
            <div class="list-blocks-item-inner">
              <div class="list-blocks-counter"></div>
              <p class="list-blocks-title">AH-SYSTEM v1.0</p>
              <p>Customer Endpoint System works with AH-Reader and AH-Card.</p>
            </div>
          </div>
          <div class="list-blocks-item">
            <div class="list-blocks-item-inner">
              <div class="list-blocks-counter"></div>
              <p class="list-blocks-title">AH-READER v1.2</p>
              <p>Secured-NFC Desk Reader.</p>
            </div>
          </div>
          <div class="list-blocks-item">
            <div class="list-blocks-item-inner">
              <div class="list-blocks-counter"></div>
              <p class="list-blocks-title">AH-CARD v1.0</p>
              <p>Smart-NFC Card.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section  id="section4" class="section">
    <div class="container">
      <div class="row align-items-end justify-content-center">
        <div class="col-md-10 col-lg-7">
          <div class="section-md">
            <h3>AH-READER v1.2</h3>
            <p class="text-gray-900">AH-Reader is an RFID 13.56 MHz multistandard reader created by Adaptric. AHReader module is packaged in a plastic ABS
              enclosure with LED status. It supports USB interface means can work compatible with Windows PC, Linux PC or embedded modules.
            </p>
            <p>
              AH-Reader can read and write ISO14443 and ISO15693 cards.
            </p>
            <p>
              For the special service from Adaptric, customers can ask for the customization of AH-Reader to match with your business!
            </p>
          </div>
        </div>
        <div class="col-md-10 col-lg-5 text-center"><img src="../images/reader.png" alt="" width="379" height="570"/>
        </div>
      </div>
    </div>
  </section>
  <section  id="section4" class="section">
    <div class="container">
      <div class="row align-items-end justify-content-center">
        <div class="col-md-10 col-lg-5 text-center"><img src="../images/tag.png" alt="" width="379" height="570"/>
        </div>
        <div class="col-md-10 col-lg-7">
          <div class="section-md">
            <h3>AH-CARD v1.0</h3>
            <p class="text-gray-900">
              The standard NFC tag ICs in smartcard form to be used in mass-market applications.
            </p>
            <p>
              Supporting: ISO14443A
            </p>
            <p>
              Frequency: 13.56 MHz
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="section footer-classic">
    <div class="footer-classic-main">
      <div class="container">
        <div class="row row-50 justify-content-lg-between">
          <div class="col-sm-7 col-lg-3 col-xl-6"><a class="brand" href="index.html"><img src="../images/logo.png" alt="" width="148" height="31"/></a>
            <p><span style="max-width: 250px;">3rd FL., La Unique Plaza, 
              No.40 Thetsabanrangsannua Rd., Ladyao, Chatuchak,
              Bangkok 10900 Thailand</span></p>
          </div>
          <!-- <div class="col-sm-5 col-lg-9 col-xl-6"></div> -->
          <div class="col-sm-5 col-lg-9 col-xl-2">
            <h4 class="footer-classic-title">Get in Touch</h4>
            <div class="row row-20 row-sm-35">
              <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                <div class="row row-10 text-default">
                  <div class="col-lg-6 col-xl-12"><a href="mailto:info@adaptric.co">info@adaptric.co</a></div>
                  <div class="col-lg-6 col-xl-12"><a class="big" href="tel:#">02 589 9991</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-classic-aside">
      <div class="container">
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Copyrights</span>. All Rights Reserved. Design by <a href="https://www.adaptric.co">Adaptric</a></p>
      </div>
    </div>
  </footer>
</div>
<div class="snackbars" id="form-output-global"></div>

<script src="plugins/theme/js/script.js"></script>
